@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/ptsans-400.woff2") format: ("woff2");
}

@font-face {
font-family: "PT Sans";
font-weight: 700;
font-style: normal;
font-display: swap;
src: url("fonts/ptsans-700.woff2") format: ("woff2");
}

html {
    height: 100%;
}

.wpapper {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

.button-push {
    width: 160px;
    height: 37px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color:  #fff;
    background-color: #756157;
}

.button-search {
    width: 574px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
}

.button-news-letter {
    width: 200px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    background-color: #82B3D3;
    border-radius: 0px 10px 10px 0px;
}
.page-header {
    font-size: 20px;
    color: #000;
    background-color: #fff;
}

.greeting {
    width: 100%;
    height: 485px;
    background-image: url("../images/index/background-image.jpg");
    background-repeat: no-repeat;
    margin: 0;
}

.greeting-image {
    height: 352px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

.navigation {
    display: flex;
    width: 1090px;
    margin: 0 auto;
    font-weight: 700;
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.navigation-user {
    margin: 0;
    padding: 0;
    width: 264px;
    margin-left: auto;
}

.page-header-logo {
    height: 70px;
    margin-right: 30px;
}

.navigation-list {
    width: 390px;
}

.navigation-link {
    line-height: 26px;
    text-decoration: none;
    color: #000;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    color:#000000;
    background-color: #ffffff;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.block {
    background-color: #82B3D3;
    color:#fff;
    text-align: center;
}

.block-2 {
    color: #fff;
    background-color: #82B3D3;
    text-align: center;
    order: 2;
}

.first-block {
    display: flex;
}

.first-block p {
    margin-bottom: 0;
}

.second-block {
    display: flex;
}

.third-block {
    display: flex;
}

.advantages-unordered-list {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.wrapper-item {
    padding: 80px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-item-end {
    padding: 103px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.description-advantages  {
    text-align: center;
}

.description-advantages h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    padding: 63px;
    text-transform: uppercase;
}

.description-advantages p {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 90px;
}

.advantages {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-unordered-list-item {
    width: 100%;
    background-color: rgba(131, 179, 211, 0.12);
    
}

.advantages-unordered-list-item:nth-child(2) {
    background-color: #fff;
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.2);
}


.advantages-unordered-list h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}


.recommendation {
    text-align: center;
    background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
    width: 1200px;
    height: 417px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 91px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 411px;
    color:#fff;
    background-image: url(../images/index/subscribe-background.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 94px;
}

.subscribe-form {
    width:600px;
    height: 60px;
    border-radius: 10px 0 0 10px;
    
}

.header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.header a {
    margin-top: 56px;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.footer-social-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-contacts {
    width: 142px;
}

.footer-logo {
    width: 115px;
}

.page-footer-address-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000;
}

.main-inner {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.catalog-header {
    width: 1200px;
    height: 400px;
    color: #fff;
}

.catalog-products {
    display: flex;
    flex-direction: column;
    background-image: url("../images/catalog/catalog-background.jpg");
    background-repeat: no-repeat;

}

.inner-body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

.headind {
    margin:0;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.inner-filter {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 71px;
    margin-left: 70px;
}

.filter-left-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
   
}

.breadcrumbs-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-link-main {
    text-decoration: none;
    color: #fff;
}

.sorting {
    display: flex;
    align-items: baseline;
}

.pagination-select-control {
    width: 290px;
}

.catalog-products {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.button-accept {
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #82B3D3;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
}

.product-card-item {
    width: 340px;
    height: 438px;
}

.product-card-link,
.pagination-link {
    text-decoration: none;
    color: #000;
}

.product-card-button-details,
.product-card-button-chosen {
    text-decoration: none;
    color: #000;
}

.subscribe-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 411px;
    color: #000;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 94px;
}


