@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/ptsans-400.woff2") format: ("woff2");
}

@font-face {
font-family: "PT Sans";
font-weight: 700;
font-style: normal;
font-display: swap;
src: url("fonts/ptsans-700.woff2") format: ("woff2");
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Button */
.button-push {
    width: 160px;
    height: 37px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color:  #fff;
    background-color: #756157;
    border-radius: 4px;
    border: none;
    padding: 9px 15px;
}

.button-search {
    width: 574px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
}

.button-news-letter {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    background-color: #82B3D3;
    border-radius: 0 10px 10px 0;
    border: 0;
    padding: 12px 15px;

}

.button-accept {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #82B3D3;
  border: 0;
  border-radius: 4px;
}

.button-throw-off {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* index.html  */

.page-header {
    font-size: 20px;
    color: #000;
    background-color: #fff;;
}

/* index-navigation */

.page-header-logo {
  margin-left: 70px;
  object-fit: contain;
}

.navigation {
    display: flex;
    font-weight: 700;
    max-height: fit-content ;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 390px;
}

.navigation-link {
  position: relative;
  display: block;
  line-height: 26px;
  text-decoration: none;
  color: #000;
  padding: 20px 19px;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 70px;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
    align-items: center;
}

.click-counter {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  position: absolute;
  right: -1px;
  top: 16px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #fff;
  text-align: center;

}

.navigation-link {
    min-width: 18px;
    min-height: 18px;
    padding: 25px 12px;
}

/* index-main */

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
    color:#000000;
    background-color: #ffffff;
    margin-top: -10px;
}

.main-container {
    flex-grow: 1;
}

.greeting {
  width: 100%;
  height: 485px;
  background-image: url("../images/index/background-image.jpg");
  background-repeat: no-repeat;
}

.greeting-image {
  height: 352px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  margin-bottom: 82px;
}

.description-advantages  {
  text-align: center;
}

.greeting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 63px;
}

.greeting-paragraph {
    margin-top: 31px;
    margin-bottom: 90px;
}

/* advantages list*/

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.first-block {
  display: flex;
}

.first-block-image {
  display: block;
}

.block-1,
.block-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 92px 85px;
    background-color: #82B3D3;
    color:#fff;
    text-align: center;
}

.first-block h3,
.second-block h3,
.advantages-title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.second-block {
    display: flex;
    color: #fff;
    background-color: #82B3D3;
}

.block-2 {
  order: 2;
}

.bridge-image {
  display: block;
}

.advantages-unordered-list,
.last-block {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-unordered-list-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 33%;
}

.last-block .advantages-unordered-list-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.wrapper-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 85px;

}

.advantages-item-icon {
  max-width: 75px;
  max-height: 72px;
}

.advantages-title {
  margin: 0;
  margin-top: 30px;
}


.advantages-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
}

.last-block {
  display: flex;
}

.last-block h3:nth-of-type(1) {
  margin-bottom: 30px;
}

.advantages-unordered-list-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: rgba(131, 179, 211, 0.12);
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

.advantages-unordered-list-item:nth-child(2) {
    background-color: #fff;
}

.recommendation {
    text-align: center;
    background-color: rgba(131, 179, 211, 0.12);
}

/* search-hotel */

.search-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 91px;
    margin-bottom: 93px;
}

.search-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel p {
  margin-top: 29px;
}

.search-hotel-link {
  margin-top: 56px;
  margin-bottom: 93px;
}
/* subscribe-main */

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    background-image: url(../images/index/subscribe-background.jpg);
    background-repeat: no-repeat;
    padding-top: 94px;
    padding-bottom: 94px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe p {
  margin: 0;
  margin-top: 29px;
  padding-bottom: 46px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.input-field {
  grid-column: 1/ span 3;
  border-radius: 10px 0 0 10px;
  border: 0;
}

/* catalog  */

.main-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  color: #fff;
  margin-top: -5px;
}

/*filter*/

.filter-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-item {
  margin-right: 10px;
}


.catalog-products {
  display: flex;
  margin-top: 40px;
}

.catalog-filter{
  display: flex;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

/* sorting */

.catalog {
  display: flex;
  flex-direction: column;
}

.sorting-container {
  display:flex;
  justify-content:;
  align-items: flex-end;
  margin: 55px 72px;
}

.sorting-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 290px;
  height: 49px;
  margin-left: 191px;
  margin-right: 78px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 20px;
}

.sorting-container .button {
  color: #000;
  width: 46px;
  height: 46px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-view:not(:last-child) {
  margin-right: 5px;
}

.button-view {
  position: relative;
}

.button-view-icon {
  position: absolute;
  top: 15px;
  left: 15px;
}
/* product-card */

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 73px;
  list-style-type: none;
  justify-content: flex-start;
}

.product-card {
  display:flex;
  flex-flow: column wrap;
  padding: 20px;
  max-width: 300px;

}

.product-card:not(:nth-child(3n)) {
  margin-right: 18px;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #E5E5E5;
  border-radius: 4px;
  padding: 8px 15px;
  text-transform: uppercase;
  text-align: center;
}

.product-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: auto;
}

.product-description,
.product-price,
.stars,
.rating {
  color: #000;
}

.detailed,
.to-favourites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.detailed {
  background: #756157;
  margin-right: 20px;
}

.to-favourites {
  background: #82B3D3;
}

/* pagination */
.pagination-container {
  display: flex;
  margin-top: 96px;
  padding-left: 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  border-radius: 4px;
  text-align: center;
  max-block-size: 60px;
}

.pagination-item:not(:first-child) {
  background: #82B3D3;
}

.pagination-item:first-child {
  background: #F2F2F2;
  color: #000;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding-top: 12px;
}

.pagination-select{
  display: flex;
  margin: auto;
  align-items: baseline;
  color:#000;
  margin-left: 270px;
}

.select-control-pagination {
  width: 160px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.quantity {
  margin-right: 51px;
}


/* subscribe-inner*/
.subscribe-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  color: #000;
}

.input-field-inner {
  background-color: #F2F2F2;
  grid-column: 1/ span 3;
  border-radius: 10px 0 0 10px;
  border: 0;
}

/* footer */

.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-contacts {
  width: 142px;
}

.footer-logo {
  width: 115px;
}

.page-footer-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
}
