@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/ptsans-400.woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("fonts/ptsans-700.woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Button */

.navigation-user-button {
  width: 160px;
  height: 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 7px 15px;
}

.navigation-user-button:hover {
  background-color: #615048;
}

.navigation-user-button:focus {
  background-color: #615048;
}

.navigation-user-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
}

.button-search:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-news-letter {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  background-color: #82b3d3;
  border-radius: 0 10px 10px 0;
  border: 0;
  padding: 12px 15px;
}

.button-news-letter:hover {
  background-color: #68a2ca;
}

.button-news-letter:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-news-letter:focus {
  background-color: #68a2ca;
}

.button-accept {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #82b3d3;
  border: 0;
  border-radius: 4px;
  margin-left: auto;
  margin-top: 59px;
  margin-bottom: 5px;
}

.button-accept:hover {
  background-color: #68a2ca;
}

.button-accept:focus {
  background-color: #68a2ca;
}

.button-accept:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-throw-off {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  color: #fff;
  width: 160px;
  height: 48px;
  text-align: center;
  border: none;
}

.button-throw-off:hover {
  color: #fff;
  opacity: 0.6;
}

.button-throw-off:focus {
  color: #fff;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-throw-off:active {
  color: #fff;
  opacity: 0.3;
}
/* index.html  */

.page-header {
  font-size: 20px;
  color: #000;
  background-color: #fff;
}

/* index-navigation */

.page-header-logo {
  margin-left: 70px;
  margin-right: 30px;
  object-fit: contain;
  z-index: 1;
}

.navigation {
  display: flex;
  font-weight: 700;
  max-height: fit-content;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  width: 390px;
  color: #000;
}

.navigation-list .navigation-item {
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 10px;
}

.navigation-link {
  position: relative;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
}

.navigation-link:nth-last-of-type(2) {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  top: 42px;
  left: 0;
  border-bottom: 2px solid #756257;
  width: 68px;
}

.navigation-user {
  margin: 0;
  margin-right: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 290px;
  color: #fff;
}

.navigation-user .navigation-item {
  padding: 12px;
}

.click-counter {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7db54f;
}

.click-counter-current-value {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  position: absolute;
  top: -8px;
  right: -5px;
  color: #fff;
}

/* index-main */

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
  margin-top: -10px;
}

.greeting {
  position: relative;
  background-image: url("../images/index/background-image.jpg");
  width: 100%;
  height: 485px;
}

.greeting::after {
  position: absolute;
  content: "";
  background-image: url("../images/index/greeting-image-bottom.svg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.greeting-image {
  height: 352px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  margin-bottom: 82px;
}

.description-advantages {
  text-align: center;
}

.greeting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 66px;
}

.greeting-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-top: 29px;
  margin-bottom: 90px;
}

/* advantages list*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.first-block {
  display: flex;
}

.first-block-image {
  display: block;
}

.block-1,
.block-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 92px 85px;
  background-color: #82b3d3;
  color: #fff;
  text-align: center;
}

.first-block h3,
.second-block h3,
.advantages-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.second-block {
  display: flex;
  color: #fff;
  background-color: #82b3d3;
}

.block-2 {
  order: 2;
}

.bridge-image {
  display: block;
}

.advantages-unordered-list,
.last-block {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.last-block .advantages-unordered-list-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.wrapper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 81px 85px;
}

.last-block .advantages-unordered-list-item .wrapper-item {
  margin: 103px 85px;
}

.advantages-item-icon {
  max-width: 75px;
  max-height: 72px;
  margin-bottom: 30px;
}

.advantages-title {
  margin: 0;
  padding: 0;
}

.advantages-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
}

.last-block {
  display: flex;
}

.last-block h3:nth-of-type(1) {
  margin-bottom: 30px;
}

.advantages-unordered-list-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  flex-grow: 1;
}

.advantages-unordered-list-item:nth-child(2) {
  background-color: #fff;
}

.recommendation {
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

/* search-hotel */

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 91px;
  margin-bottom: 93px;
}

.search-hotel-title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel p {
  margin: 0;
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-hotel-link {
  width: 574px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding-top: 12px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
}

/* subscribe-main */

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-image: url(../images/index/subscribe-background.jpg);
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe p {
  margin: 0;
  margin-top: 29px;
  padding-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
}

.input-field {
  grid-column: 1 / span 2;
  border-radius: 10px 0 0 10px;
  border: 0;
  width: 578px;
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* catalog  */

.main-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  margin-top: -10px;
  max-width: 1200px;
}

.inner-navigation-link-current::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #756257;
  width: 93px;
  top: 43px;
  right: 0;
}

/*filter*/

.filter-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 35px 70px;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 400px;
  box-sizing: border-box;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 150px;
}

.breadcrumbs:focus-within {
  outline: 2px solid #82b3d3;
  border-radius: 4px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-icon {
  fill: #fff;
}

.breadcrumbs-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-icon:focus {
  fill: #fff;
}

.breadcrumbs-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #fff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item {
  position: relative;
  margin-right: 10px;
}

.catalog-products {
  display: flex;
  margin-top: 40px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group:focus-within {
  outline: 2px solid #82b3d3;
  border-radius: 4px;
}

.catalog-filter-group:first-child {
  margin-right: 66px;
}

.catalog-filter-group:nth-of-type(2) {
  margin-right: 175px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

/* control */

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

/* mark */

.control-mark {
  position: absolute;
  top: -1px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.control-mark:hover {
  background-color: #fff;
}

.control-mark:focus {
  outline: 3px solid #83b3d3;
}

.control-mark:active {
  background-color: #fff;
}

/* checkbox */

.control-input[type="checkbox"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.control-input[type="checkbox"]:active + .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  height: 2px;
  background-color: #3f5e72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  width: 6px;
  top: 10px;
  left: 4px;
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  width: 12px;
  top: 8px;
  right: 2px;
  transform: rotate(310deg);
}

.control-input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  appearance: none;
  position: absolute;
}

/* radio */

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  content: "";
}

.control-input[type="radio"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:active + .control-mark {
  background-color: #fff;
}

.control-input[type="radio"]:focus {
  outline: 3px solid #83b3d3;
}

/* range */

.range {
  display: flex;
  margin-top: 34px;
  position: relative;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group:last-of-type {
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.range-wrapper-inputs {
  display: flex;
  height: 48px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.range-input {
  position: relative;
  background: transparent;
  color: inherit;
  padding-right: 85px;
  padding-left: 17px;
  width: 143px;
  box-sizing: border-box;
  font: inherit;
  text-align: center;
  border: none;
}

.range-input-limit-left {
  position: absolute;
  right: 160px;
  top: 12px;
  color: #ffffff;
  opacity: 0.3;
}

.range-input-limit-right {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #ffffff;
  opacity: 0.3;
}

.range-wrapper-inputs:first-child {
  border-radius: 4px 0 0 4px;
  border-right: 1px;
}

.range-wrapper-inputs:nth-child(2) {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label {
  display: flex;
}

.range-scale {
  position: absolute;
  top: 75px;
  width: 288px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  width: 228px;
  border: 2px solid #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  color: #fff;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -10px;
  left: 0;
}

.toggle-max {
  top: -11px;
  left: 218px;
}

.catalog-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* sorting */

.catalog {
  display: flex;
  flex-direction: column;
}

.sorting-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 52px;
  margin-bottom: 60px;
}

.sorting-title {
  margin: 0;
  margin-right: 191px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.select-control {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 290px;
  height: 49px;
  margin-top: 4px;
  margin-right: 78px;
  padding-left: 20px;
  background-image: url("../images/catalog/icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: rgba(0, 0, 0, 0.3);
}

.sorting-container .button {
  color: #000;
  width: 44px;
  height: 44px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view {
  display: flex;
  justify-content: space-between;
}

.button-view-link {
  position: relative;
  width: 16px;
  height: 14px;
}

.button-view-link:not(:last-child) {
  margin-right: 8px;
}

.button-view-link:hover {
  outline: 2px solid #000000;
}

.button-view-link:focus {
  outline: 2px solid #68a2ca;
}

.button-view-link:active {
  border: 2px solid #000000;
}

.button-view-icon {
  padding: 17px 16px;
  position: absolute;
  top: -2px;
  left: -2px;
}

/* product-card */

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 73px;
  list-style-type: none;
  justify-content: flex-start;
}

.product-card {
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
  max-width: 300px;
}

.product-card:not(:nth-child(3n)) {
  margin-right: 18px;
}

.product-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000;
}

.product-card:nth-child(2) .to-favourites {
  background-color: #7db54f;
}

.product-card:nth-child(2) .to-favourites:hover {
  background-color: #6c9e42;
}

.product-card:nth-child(2) .to-favourites:focus {
  background-color: #6c9e42;
}

.product-card:nth-child(2) .to-favourites:active {
  background-color: #6c9e42;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-image {
  display: block;
  margin-bottom: 16px;
}

.product-card-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-description {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.product-price {
  margin: 0;
  padding: 0;
}
/* product-card buttons */

.product-description,
.product-price,
.stars,
.rating {
  color: #000;
}

.detailed,
.to-favourites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 37px;
  padding-top: 9px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  box-sizing: border-box;
}

.detailed {
  background: #756157;
  margin-right: 20px;
}

.detailed:hover {
  background-color: #615048;
}

.detailed:focus {
  background-color: #615048;
}

.detailed:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.to-favourites {
  margin-bottom: 16px;
  background: #82b3d3;
}

.to-favourites:hover {
  background-color: #68a2ca;
}

.to-favourites:focus {
  background-color: #68a2ca;
}

.to-favourites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #e5e5e5;
  border-radius: 4px;
  padding: 8px 15px;
  text-transform: uppercase;
  text-align: center;
}

.list-rating {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #82b3d3;
}

.list-rating-item {
  background-image: url("../images/catalog/icons/star-image.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.list-rating-item:not(:last-child) {
  margin-right: 6px;
}

/* pagination */
.pagination-container {
  display: flex;
  margin-top: 96px;
  margin-bottom: 25px;
  padding-left: 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  border-radius: 4px;
  text-align: center;
  max-block-size: 60px;
}

.pagination-item:not(:first-child) {
  color: #fff;
  background: #82b3d3;
}

.pagination-item:first-child {
  background: #f2f2f2;
  color: #000;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item:not(:first-child):hover {
  background-color: #68a2ca;
}

.pagination-item:not(:first-child):focus {
  background-color: #68a2ca;
}

.pagination-item:not(:first-child):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding-top: 12px;
}

.pagination-select {
  display: flex;
  align-items: baseline;
  color: #000;
  margin-left: 270px;
}

.select-control-pagination {
  position: relative;
  width: 160px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  background-image: url("../images/catalog/icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control-pagination::-webkit-outer-spin-button,
.select-control-pagination::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity {
  margin-top: 22px;
  margin-right: 51px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* subscribe-inner*/

.subscribe-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 97px;
  margin-bottom: 94px;
  color: #000;
}

.subscribe-inner p {
  margin: 0;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-inner .subscribe-title {
  margin-bottom: 29px;
}

.input-field-inner {
  width: 600px;
  background-color: #f2f2f2;
  grid-column: 1 / span 2;
  border-radius: 10px 0 0 10px;
  border: none;
  box-sizing: border-box;
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* modal-container */

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  /* display: none;*/
}

.modal {
  position: relative;
  margin: auto;
  background-color: #fff;
  border-radius: 30px;
}

.modal-search {
  width: 715px;
  height: 561px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 71px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/modal/Close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  color: #000;
  opacity: 0.5;
}

.modal-title {
  margin: 64px 0 62px 68px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  margin-left: 70px;
  padding: 0;
}

.field-group:last-child {
  margin-left: 56px;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.check-in-label,
.check-out-label,
.adults,
.children {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.check-in-field {
  position: relative;
  width: 420px;
  height: 50px;
  margin-left: 42px;
  padding-left: 19px;
  box-sizing: border-box;
  color: #000;
  opacity: 0.6;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.check-in-field::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/modal/calendar-icon.svg");
  position: absolute;
  right: 30px;
}

.check-in-field:hover {
  background-color: #e6e6e6;
}

.check-in-field:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.check-in-field:active {
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #fff;
}

.check-out-field {
  width: 420px;
  height: 50px;
  margin-left: 36px;
  padding-left: 19px;
  box-sizing: border-box;
  color: #000;
  opacity: 0.6;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.check-out-field:hover {
  background-color: #e6e6e6;
}

.check-out-field:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.check-out-field:active {
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #fff;
}

.check-out-field::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/modal/calendar-icon.svg");
  position: absolute;
  right: 100px;
}

.warning {
  margin-left: 154px;
  margin-bottom: 11px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.check-in-warning {
  color: #ff5757;
}

.check-out-warning {
  color: #333;
}

.modal-quantity {
  display: flex;
}

.modal-field-left {
  width: 133px;
  height: 50px;
  margin-left: 63px;
  text-align: center;
  appearance: none;
}

.adults-button-min::after {
  content: "";
  position: absolute;
  left: 244px;
  bottom: 194px;
  width: 13px;
  height: 1px;
  border: none;
  background-color: #000;
  opacity: 0.3;
}

.adults-button-max::after {
  content: "";
  position: absolute;
  left: 320px;
  bottom: 182px;
  border: none;
  width: 25px;
  height: 25px;
  color: #000;
  opacity: 0.3;
  background-image: url("../images/modal/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.adults-button-min:hover,
.adults-button-max:hover {
  color: #000;
}

.adults-button-min:focus,
.adults-button-max:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  color: #000;
}

.adults-button-min:active,
.adults-button-max:active {
  color: #000000;
  opacity: 0.2;
}

.modal-field-right {
  position: relative;
  width: 133px;
  height: 50px;
  text-align: center;
  margin-left: 43px;
  appearance: none;
}

.children-button-min {
  position: absolute;
  bottom: 195px;
  right: 175px;
  width: 13px;
  height: 1px;
  border: none;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}

.children-button-max {
  position: absolute;
  bottom: 182px;
  right: 85px;
  width: 25px;
  height: 25px;
  border: none;
  color: #000;
  opacity: 0.3;
  background-image: url("../images/modal/plus-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.children-button-min:hover,
.children-button-max:hover {
  color: #000;
}

.children-button-min:focus,
.children-button-max:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  color: #000;
}

.children-button-min:active,
.children-button-max:active {
  color: #000000;
  opacity: 0.2;
}

/* tooltip */

.tooltip {
  position: absolute;
  z-index: 1;
  margin-top: 13px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  left: 53px;
  border-radius: 50%;
  border: none;
  background-color: #83b3d3;
  align-items: baseline;
}

.tooltip-toggle::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 6px;
  background-color: #fff;
  top: 10px;
  left: 12px;
}

.tooltip-toggle::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #fff;
  top: 8px;
  left: 12px;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-toggle:active {
  background-color: #68a2ca;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  left: -52px;
  top: 45px;
  background-color: #333333;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 20px 20px;
  padding-left: 22px;
  width: 256px;
  border-radius: 10px;
  box-sizing: border-box;
  display: none;
  text-align: center;
}

.tooltip-text::before {
  content: "";
  background-image: url("../images/modal/tooltip-triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  left: 107px;
}

.modal-button-search {
  width: 575px;
  height: 60px;
  box-sizing: border-box;
  padding: 0;
  margin-left: 70px;
  margin-top: 37px;
  background-color: #83b3d3;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.modal-button-search:hover {
  background-color: #68a2ca;
}

.modal-button-search:focus {
  border: 3px solid #756257;
}

.modal-button-search:active {
  background-color: #68a2ca;
  color: rgba(0, 0, 0, 0.3);
}
/* footer */

.page-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 35px;
  background-color: #fff;
}

.footer-social-contacts {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 250px;
  width: 142px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  list-style-type: none;
}

.footer-social-item {
  padding: 12px;
}

.footer-social-icon {
  fill: #83b3d3;
}

.footer-social-icon:hover {
  fill: #68a2ca;
}

.footer-social-icon:focus {
  fill: #68a2ca;
}

.footer-social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.phone {
  width: 331px;
  margin-right: auto;
}

.page-footer-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
}

.page-footer-address-phone:hover {
  color: #756157;
}

.page-footer-address-phone:focus {
  color: #756157;
}

.page-footer-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  display: flex;
  flex-wrap: wrap;
  width: 115px;
  margin-right: 70px;
}

.footer-logo-image {
  width: 115px;
  height: 33px;
  fill: #000;
}

.footer-logo-image:hover {
  fill: #756157;
}

.footer-logo-image:focus {
  fill: #756157;
}

.footer-logo-image:active {
  fill: rgba(117, 97, 87, 0.3);
}
