@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/ptsans-400.woff2") format: ("woff2");
}

@font-face {
font-family: "PT Sans";
font-weight: 700;
font-style: normal;
font-display: swap;
src: url("fonts/ptsans-700.woff2") format: ("woff2");
}


body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

.button-push {
    width: 160px;
    height: 37px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color:  #fff;
    background-color: #756157;
}

.button-search {
    width: 574px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
}

.button-news-letter {
    width: 200px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    background-color: #82B3D3;
}
.page-header {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
}

.navigation-link {
    line-height: 26px;
    text-decoration: none;
    color: #000;
}

.main-index {
    color:#000000;
    background-color: #ffffff;
}

.description-advantages  {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.description-advantages h2 {
    margin-bottom: 31px;
    text-transform: uppercase;
}

.description-advantages p {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 90px;
}

.advantages {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-item-houses,
.advantages-item-souvenirs,
.advantages-item-square,
.advantages-item-tourists {
    width: 400px;
    height: 384px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-food {
    width: 400px;
    height: 384px;
}

.advantages-item-road {
    width: 400px;
    height: 384px;
    background-color: rgba(131, 179, 211, 0.2);
}


.advantages-list div {
    width: 400px;
    height: 384px;
    background-color: #82B3D3;
}

.advantages-unordered-list h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}


.recommendation {
    text-align: center;
    background-color: rgba(131, 179, 211, 0.12);
}

.block {
    width: 400px;
    height: 384px;
    color: #fff;
    text-align: center;

}
.block-2 {
    width: 400px;
    height: 384px;
    color: #fff;
    background-color: #82B3D3;
    text-align: center;
}

.page-footer-address-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000;
}

.main-inner {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.inner-header {
    font-size: 20px;
    line-height: 26px;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-link-main {
    text-decoration: none;
    color: #000;
}

.catalog-products {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.button-accept {
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #82B3D3;
}

.product-card {
    width: 340px;
    height: 438px;
}

.product-card-link,
.pagination-link {
    text-decoration: none;
    color: #000;
}

.product-card-button-details,
.product-card-button-chosen {
    text-decoration: none;
    color: #000;
}

